<li>
    {{name}}

    <button class="devour" data-id="{{id}}" data-justDevoured="{{devoured}}">
        {{#if devoured}}Devour!{{else}}Are You still Hungry?{{/if}}
    </button>
    <button class="delete-burger" data-id="{{this.id}}">86'ed</button>
</li>

</li>