<li>
    {{burger_name}}

    <button class="devoured" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#if devoured}}Devour!{{else}}Still Hungry!{{/if}}
    </button>
    <button class="delete-burger" data-id="{{this.id}}">86'ed</button>
</li>

</li>